body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
.header {
    text-align: center;
    font-size: 42px;
    color: rgb(44, 44, 202);
}

.expense-container {
   max-width: 500px;
   margin: 0 auto 30px;
   border: 1px solid #ccc;
   background: #fefefefe;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0px 4px 6px rgba(0,0,0,0.3);
}

.expense-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.expense-form input,
.expense-form select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
}

.expense-form input:focus ,
.expense-form select:focus {
  border-color: rgb(44, 44, 202);
  outline: none;
}

.add-btn {
    padding: 15px;
    border: 1px solid #fefefe;
    border-radius: 5px;
    color: white;
    background-color: rgba(44,44,202);
}


.container {
   margin-top: 30px;
   display: flex;
   justify-content: center;
   text-align: center;
}

#expense-box {
    background: #2ecc71;
    color: white;
    padding: 10px 30px;
    border-radius: 10px;
    min-width: 100px;
    margin-bottom: 10px;
}

#total-amount {
    font-size: 26px;
    font-weight: bold;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 2fr));
  gap: 15px;
  margin-top: 20px;
}

.card {
  background: #ffffff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
}

.card h1 {
  font-size: 24px;
  color: #2c3e50;
}

.card h3 {
  font-size: 20px;
  color: #27ae60;
}

.card p {
  font-size: 20px;
  color: #555;
}

.card button {
  padding: 8px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
 
}

.edit-btn {
  background:rgb(44, 44, 202);
  color: white;
  margin-top: 8px;
}

.delete-btn {
  background: #e74c3c;
  color: #fff;
  margin-top: 5px;
}

